@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter";
  overflow-x: hidden;
}

p {
  font-size: 12px;
}

.pl-4 {
  padding-left: 40px;
}

h2 {
  color: #003366 !important;
  font-size: 25px !important;
}

h5 {
  color: #003366 !important;
  font-size: 16px !important;
}

h6 {
  color: #003366;
  font-size: 15px !important;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.border {
  box-shadow: rgba(0, 0, 0, 0.075) 2px 5px 10px;
  border-radius: 35px;
  width: max-content;
  text-wrap: nowrap !important;
}

.border2 {
  box-shadow: rgba(0, 0, 0, 0.075) 2px 5px 10px;
  border-radius: 35px;
  border: 1px #dadada solid;
}

.pesquisa {
  width: 375px;
  box-shadow: 0px 3px 6px rgba(41, 2, 66, 0.1);
  height: 30px;
  line-height: 28px;
  padding: 0.1rem;
  padding-left: 2.5rem;
  border: 1px solid #d5d5d54a;
  border-radius: 20px;
  outline: none;
  color: #0d0c22;
  transition: 0.3s ease;
}

.pesquisa::placeholder {
  color: #9e9ea7;
}

input.pesquisa:hover {
  box-shadow: 0px 3px 6px rgba(12, 95, 33, 0.308);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 0.75rem;
  height: 0.75rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  margin-top: 100px;
}

.nav-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #69eb8c;
  padding: 15px;
}

.navbar-dropdown {
  float: right;
}

input,
textarea,
select {
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  height: 35px;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  width: 100%;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.campo2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input {
  width: 100%;
}

.input2 {
  width: 220px;
}

.div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px;
  border-radius: 15px;
  margin-left: 225px;
  width: 530px;
  margin-top: 50px;
}

.div2 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px;
  border-radius: 15px;
  margin-left: 275px;
  width: 82%;
  margin-top: 37.5px;
}

.botao {
  /* background-color: #6F799F; */
  background-color: #003366;
  color: #fff;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 2px 2px 2px;
  font-size: 12pt;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
}

.botao2 {
  background-color: #003366;
  color: #fff;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 2px 2px 2px;
  font-size: 12pt;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 10px;
  width: 18%;
  font-weight: 600;
}

.botao:hover {
  background-color: #001f3f;
}
.botao2:hover {
  background-color: #001f3f;
}

.botaoRelatorio {
  background-color: #0033661c;
  color: #003366;
  border: none;
  box-shadow: rgba(0, 27, 82, 0.425) 1px 1px 1px;
  font-size: 12pt;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 10px;
  width: auto;
  margin-right: 25px;
}

.botaoRelatorio:hover {
  background-color: #0033662f;
}

.iconMoon,
.iconUser {
  background-color: transparent;
  border: none;
}

.mr-5 {
  margin-right: 30px;
}

.pr-5 {
  padding-right: 60px !important;
  padding-top: 10px !important;
  vertical-align: middle !important;
}

.v-a {
  vertical-align: middle !important;
}

.div3 {
  margin-left: 275px;
  margin-top: 50px;
}

.align-middle {
  vertical-align: middle;
}

.r {
  display: flex;
  flex-direction: column;
}

#sidebar {
  position: relative;
  position: fixed;
  left: 200px;
  top: 0px;
  width: 250px;
  height: 100%;
  margin-left: -200px;
  /* background: linear-gradient(#5c6486, #717ca7, #7e89b9); */
  background-color: #69eb8c;
  padding: 0px 15px 0px 15px;
  border-radius: 0px 30px 30px 0px;
}

.formcadastro {
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px;
  border-radius: 15px;
  margin-left: 275px;
  width: 90%;
  padding: 3rem;
}

.m-225 {
  margin-left: 275px;
}

.mx-52 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.d-md-block2 {
  display: flex;
  flex-direction: column;
}

.d-md-none2 {
  display: none;
}

.w-60{
  width: 70% !important;
}

.float-end2{
  float: right !important;
}

.filtroDashboard{
    justify-content: end;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /*justify-content-end flex-row d-flex gap-4*/
}

.largGrafico{
  width: 100%;
}

@media (max-width: 668px) {
  .formcadastro {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px !important;
    padding: 0 !important;
  }
  .border{
    width: 100% !important;
  }
}

@media (max-width: 1219px) {
  .filtroDashboard{
    justify-content: end;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90% !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem;
    /*justify-content-end flex-row d-flex gap-4*/
  }

  .anavbar {
    float: right;
  }

  .areaMenu {
    width: auto !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .dropdown-menu.show {
    display: flex !important;
    flex-direction: column;
    gap: 15px;
  }

  .dropdown-menu a {
    color: #565d7e !important;
    text-decoration: none;
  }

  .formcadastro {
    width: auto !important;
    margin-left: 0px;
    padding: 0px !important;
    box-shadow: none;
  }

  .campo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }

  .campo {
    margin-top: 70px !important;
  }

  .div3,
  .div2,
  .m-225 {
    margin-left: 0px !important;
  }
  .dados {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }

  .group {
    margin-left: 20px !important;
  }

  .navbarmenu {
    margin-left: 0px !important;
    margin-top: -75px !important;
    margin-bottom: 30px !important;
  }

  #sidebar {
    position: absolute;
    padding-left: 0px !important;
    border-radius: 0px !important;
    top: 0px !important;
    width: 100% !important;
    left: 0px !important;
    margin-left: 0px !important;
    height: 70px !important;
    background-color: #70ff95 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }

  .menu {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 0px !important;
  }

  .pesquisa {
    border: 1px solid #ffffffad !important;
  }
  #sidebar > button {
    width: 80px;
  }
  .nav-superior {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #69eb8c;
    padding: 10px;
  }

  .navbar-dropdown {
    margin-left: auto;
  }
  .d-md-block2 {
    flex-direction: row;
  }
  .dropdown-menu {
    background-color: #69eb8c;
    width: clamp(100px, 100vw, 1204px) !important;
  }
  .botao {
    width: 95% !important;
    align-self: center;
  }
  .w-60,.w-80{
  width: 100% !important;
  }
  .float-end2{
    float: right !important;
  }
  .container{
    margin-left: 227px;
  }
}

@media (max-width: 1218px) {
  .d-md-block2 {
    display: none !important;
  }
  .d-md-none2 {
    display: block;
  }
  .btnnav {
    display: none !important;
  }
  .dropdown-toggle::after {
  float: right !important;
  z-index: 1;
  padding: 1rem;
  border: none !important;
}

.dropdown-toggle{
  padding: 1rem;
  width: 40px;
  z-index: 5;
}
}

@media (max-width: 980px) {
  .div {
    margin-left: 160px;
    width: auto;
    margin-right: 10px;
  }
  .areaUpdate {
    width: auto !important;
    margin: 10px;
  }
  .overflow {
    overflow: scroll;
  }
  .filtroData {
    align-items: flex-start !important;
    gap: 1rem !important;
    width: 100% !important;
    margin-bottom: 50px;
  }
  .div2 {
    width: 100% !important;
  }
  .filtroData > button {
    width: 220px;
  }
}

@media (max-width: 706px) {
  .filtroData {
    flex-direction: column;
  }
}

@media (max-width: 898px) {
  .group {
    display: none !important;
  }

  .campo {
    margin-top: 120px !important;
  }

  .iconUser {
    position: static;
    margin-left: 16px;
  }
}

@media (max-width: 766px) {
  input,
  select {
    width: 100%;
  }
  .div2 {
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  #text-navbar {
    display: none !important;
  }
  .areaMenu {
    width: 80px !important;
  }
  .areaMenu svg {
    margin-right: 0px !important;
  }
  .mx-52 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
}

@media (max-width: 990px) {
  .campoLabel {
    margin-bottom: 19px;
  }
}

@media (max-width: 574px) {
  .float-end2{
    float: left !important;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

/* @media (max-width: 910px){
  .largGrafico{
    width: auto !important;
  }
} */



.icon-menu{
  position: fixed;
  left: 20px;
}

.areaMenu.active > svg {
  color: #69eb8c;
}

.areaMenu.active {
  background-color: #1e2b58;
  color: #f7f7f7;
  font-weight: 500;
  border-radius: 5px;
}

.areaMenu {
  border-radius: 16px;
  background-color: transparent;
  border: none;
  width: 100%;
  color: #0c6424;
  text-align: left;
  padding-left: 20px;
  font-size: 14px !important;
  font-weight: 500;
}

.campoLabel {
  position: relative;
}

.label {
  position: absolute;
  top: -10px;
  margin-left: 10px;
  background-color: #ffffff;
  padding: 0px 10px 0px 10px;
  font-size: 9pt;
  color: #414141;
}

.navbarmenu {
  background-color: transparent;
  width: -moz-available;
  margin-left: 180px;
}

.ml-2 {
  margin-left: 45px;
  margin-right: 15px;
}

.dados {
  display: flex;
  flex-direction: row;
  margin-left: 325px;
}

.mr-auto {
  float: right;
}

th,
td {
  background-color: transparent !important;
  color: #565d7e !important;
  font-size: 14px !important;
}

.dropdown-menu {
  background-color: #69eb8c !important;
  border: none !important;
  margin-top: 27px !important;
  overflow: hidden !important;
  /* width: clamp(100px, 100vw, 864px) !important; */
  width: 190px;
}

.dropdown-menu a {
  color: #0c6424;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: transparent !important;
  border-radius: 15px;
}

.corpoUpdate {
  position: absolute;
  background-color: rgba(130, 130, 130, 0.26);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
}

.areaUpdate {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px;
  border-radius: 15px;
  width: 530px;
  background-color: white;
}

@media (max-width: 668px) {
  .corpoUpdate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: none;
  }
}

.Link {
  text-decoration: none !important;
  color: white;
}

.filtroData {
  padding: 20px 2rem 20px 2rem;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  position: relative;
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.filtroData > p {
  font-weight: 400;
  margin: 0;
}
.position-relative > label {
  position: absolute;
  top: -11px;
  left: 5px;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.filtroData > span {
  position: absolute;
  top: -30px;
  left: 20px;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  color: #414141;
}

.bg-login {
  background: linear-gradient(180.16deg, #1e2b58 3.8%, #192348 94.61%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-login {
  width: 437px;
  height: 342px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
}

.text-login {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1e2b58;
}

.text-esqueciminhasenha {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 10px;
  text-decoration-line: underline;
  color: #656565;
}

.text-cadastro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  text-decoration-line: underline;
  color: #2896c5;
}

.w-80 {
  width: 82%;
}

.shadow1 {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

